* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #1b2832;
}

html {
  background-color: #f7fafc;
  height: 100%;
}

main {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px;
}

section {
  margin: 2rem 0;
  padding-bottom: 50px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

nav a {
  font-weight: 700;
  color: #3c0d99;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem 0 1rem;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

ul,ol {
  padding-left: 40px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

a:visited {
  color: #3c0d99;
}

p {
  margin: 0 0 1rem;
}