---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout
  title="404 status error"
  description="The page you were looking for does not exist."
>
  <h1>404</h1>
  <p>Oops - Page not found</p>
</BaseLayout>
