---
import CoreLayout from '../Layouts/CoreLayout.astro';
const pageTitle = "404 status error";
---

<CoreLayout pageTitle = {pageTitle}>
    <h1>404</h1>
    <p>Oops - Page not found</p>
</CoreLayout>