---
import BaseLayout from "../layouts/BaseLayout.astro"
import Article from "../components/Article.astro"

// Fetch all articles and sort them by pubDate
const allArticles = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)

// Paginate the articles, displaying 8 articles per page
const pageSize = 8
const totalPages = Math.ceil(allArticles.length / pageSize)

const getPageArticles = (page) => {
  const startIndex = (page - 1) * pageSize;
  return allArticles.slice(startIndex, startIndex + pageSize);
}
---

<BaseLayout title="Articles" description="View and read all articles">
  <h1>Blog articles</h1>
  <!-- Loop through paginated articles and generate cards -->
  <section>
    {
      Array.from({ length: totalPages }).map((_, pageIndex) => (
      <div>
          {
            getPageArticles(pageIndex + 1).map((article) => (
              <Article
                title={article.frontmatter.title}
                href={article.url}
                intro={article.frontmatter.description}
              />
            ))
          }
        </div>
      ))
    }
  </section>
</BaseLayout>
