---
import Article from "../components/Article.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

// Fetch all articles and sort them by pubDate
const allArticles = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)

// Featured articles
const featuredArticles = allArticles.filter(article => article.frontmatter.featured).slice(0, 4)
---

<BaseLayout title="Senior UX Designer" description="A design specialist with over a decade of experience creating and optimising digital user experiences for strategic business growth.">
  <section>
    <div class="proposition">
        <img class="profile-pic" src="/img/profilePic.jpg" alt="My profile picture">
      <div class="intro">
        <h1>Hello. I’m a Senior UX Designer and I craft engaging digital experiences with a focus on users and results.</h1>
        <p>From conducting in-depth user research to developing high-fidelity prototypes or design systems in Figma, I design accessible, user-friendly, and delightful solutions that meet user needs and business objectives.</p>
        <p>Check out my <a href="/portfolio" title="Portfolio">portfolio</a> for case studies of past projects or view my <a href="/blog" title="Blog">blog</a> for insights on UX, ways of working, and other thoughts.</p>
      </div>
    </div>
    <h2>Recently published:</h2>

      {
        featuredArticles.map((article) => (
        <Article
        title={article.frontmatter.title}
        href={article.url}
        intro={article.frontmatter.description}
      />
        ))
      }

    <a href="/blog">See all blog articles</a>
    <!-- <h2>Kudos</h2> -->
  </section>
</BaseLayout>

<style>
  .proposition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  
  img {
    margin: 0;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

  h1 {
    line-height: 1.2;
    margin: 0 0 1rem;
  }

  @media screen and (min-width: 667px) {
    .proposition {
    flex-direction: row;
  }
  .profile-pic {
    width: 310px;
    height: 310px;
  }
  }
</style>