---
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Portfolio" description="New description">
    <section>
    <h1>I design and optimise digital experiences.</h1>
    <h2>Recent articles</h2>
    <ul role="list" class="cards">
      <Card
        title="Search system optimisation"
        href="/articles/search-case-study"
        img="img/search-header.png"
        intro="Optimising a search system: the human-centered design approach to improving user experience on a group touring website"
      />
      <Card
        title="E-commerce site rebuild"
        href="/articles/e-commerce-case-study"
        img="img/HT-1.png"
        intro="Rebuilding an e-commerce site to simplify the checkout process and improve sign-up conversion rates"
      />
      <Card
        title="Holiday booking and management"
        href="/articles/booking-management-case-study"
        img="img/mytitan-header.png"
        intro="Holiday management system overhauled for enhanced experience, paperless solution, self-serve functionality, and reduced service issues"
      />
      <Card
        title="Uplift in sign-ups with A/B testing"
        href="/articles/brochure-case-study"
        img="img/Brochure-header.png"
        intro="Increased brochure sign-ups by 25% through split testing and user-centered design updates on a brochure request web page"
      />
    </ul>
    <a href="/articles">View all articles</a>
  </section>

</BaseLayout>

<style>
  .cards {
    display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1.2rem;
		padding: 0;
  }
</style>
