---
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Portfolio" description="New description">
  <h1>I design and optimise digital experiences.</h1>
  <section>
    <h2>Selected articles</h2>
    <div class="cards">
      <Card
        title="Search system optimisation"
        href="/articles/search-case-study"
        img="img/search-header.png"
      />
      <Card
        title="E-commerce site rebuild"
        href="/articles/e-commerce-case-study"
        img="img/ht-1.png"
      />
      <Card
        title="Holiday booking and account management"
        href="/articles/booking-management-case-study"
        img="img/mytitan-header.png"
      />
      <Card
        title="Increasing brochure sign-ups with AB testing"
        href="/articles/brochure-case-study"
        img="img/brochure-header.png"
      />
    </div>
    <a href="/articles">View all articles</a>
  </section>
</BaseLayout>

<style>
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
