---
import BaseLayout from "../layouts/BaseLayout.astro"
import Card from "../components/Card.astro"

// Fetch all items and sort them by pubDate
const allPortfolio = (await Astro.glob("./portfolio/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)

// Paginate the items, displaying 8 articles per page
const pageSize = 8
const totalPages = Math.ceil(allPortfolio.length / pageSize)

const getPagePortfolio = (page) => {
  const startIndex = (page - 1) * pageSize;
  return allPortfolio.slice(startIndex, startIndex + pageSize);
}
---

<BaseLayout title="Portfolio" description="View and read all case studies">
  <h1>Portfolio</h1>
  <!-- Loop through paginated portfolio and generate cards -->
  <section>
    {
      Array.from({ length: totalPages }).map((_, pageIndex) => (
      <div class="cards">
          {
            getPagePortfolio(pageIndex + 1).map((portfolio) => (
              <Card
                title={portfolio.frontmatter.title}
                href={portfolio.url}
                img={portfolio.frontmatter.heroImage}
                intro={portfolio.frontmatter.description}
              />
            ))
          }
        </div>
      ))
    }
  </section>
</BaseLayout>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.2rem;
    padding: 0;
  }
</style>