---
import { Image } from 'astro:assets'

export interface Props {
  title: string;
  href: string;
  img: string;
  description: string;
}

const { title, href, img, description } = Astro.props
---

<div class="card">
  <a href={href}>
    <Image src={img} alt={description} width={920} height={350}  />
    <h3>{title}</h3>
  </a>
</div>

<style>
  .card {
    display: flex;
    width: 100%;
  }

  .card > a {
    text-decoration: none;
    line-height: 1.4;
  }

  .card:hover h3 {
    color: #e97cff;
  }
</style>