---
---

<header>
  <nav>
    <a href="/" title="Homepage">D<span></span></a>
  </nav>
</header>

<style>
  header {
    margin: 0 auto;
    max-width: 936px;
    padding: 16px 0;
  }

  nav a {
    font-size: 2rem;
    text-decoration: none;
  }

  nav a {
    /* opacity: 0.3; */
  }

  nav span {
    height: 8px;
    width: 8px;
    background-color: #e97cff;
    border-radius: 50%;
    display: inline-block;
  }

  nav a:hover {
    opacity: 1;
  }

  @media screen and (min-width: 667px) {
    header {
      padding: 60px 0 40px;
    }
  }
</style>
